<h1>{{name |uppercase }}</h1>
<h1>{{name | titlecase}}</h1>
<h1>{{name | slice:3}}</h1>
<h1>{{name | slice:3:6}}</h1>
<h1>{{person | json}}</h1>
<h1>{{mydate}}</h1>
<h1>{{mydate | date:'short'}}</h1>
<h1>{{mydate | date:'medium'}}</h1>
<h1>{{mydate | date:'long'}}</h1>
<h1>{{mydate | date:'full'}}</h1>
<h1>{{mydate | date:'shortDate'}}</h1>
<h1>{{mydate | date:'mediumDate'}}</h1>
<h1>{{mydate | date:'longDate'}}</h1>
<h1>{{mydate | date:'fullDate'}}</h1>
<h1>{{mydate | date:'shortTime'}}</h1>
<h1>{{mydate | date:'mediumTime'}}</h1>
<h1>{{mydate | date:'longTime'}}</h1>
<h1>{{mydate | date:'fullTime'}}</h1>
<h1>{{4.56|number:'2.5-6'}}</h1>
<h1>{{0.50|percent}}</h1>
<h1>{{25 |currency}}</h1>
