
<div style="height: 100vh;">
    <div class="w-100 p-3" style="background-color: #eee;height: 10vh">  
    <div id="flex-container">
        <h4 class="he">Welcome to E-Shopping</h4>
        <div class="raw-item d" id="raw"><button class="btn btn-primary" routerLink="">Logout</button></div>
        <div class="raw-item" id="raw"><b>{{mail}}</b></div>

      </div>
</div>
<div class="fl">
    <div class="cl">
        <div class="d-grid">
        <button class="btn btn-primary" routerLink="order">Orders</button>
        <br>
        <br>
        <button class="btn btn-primary"routerLink="products">Product</button>
        <br>
        <br>
        <button class="btn btn-primary"routerLink="customers">Customer</button>
        <br>
        <img src="../../assets/logo.jpg" style="height: 50vh; border-radius: 60%; margin:auto" >
    </div>
</div>
<div class="router">
    <router-outlet></router-outlet>
</div>
</div>
<div>

</div>

</div>
