<!-- <div class="parent">
<form>
    <div class="col-md-4 container-fluid  one" id="st">
      <label for="exampleInputEmail1">Email address</label>
      <br>
      <input type="email"  id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" >
      <br>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <br>
    </div>
    <div class="container-fluid two" id="st">
      <label for="exampleInputPassword1">Password</label>
      <br>
      <input type="password" id="exampleInputPassword1" placeholder="Password"]>
    </div>
    <br>
    <button type="submit" class="btn btn-primary bt" routerLink="login" >Submit</button>
  </form>
</div>
<router-outlet></router-outlet> -->
<div class="m">
<form>
  <div class="form-group" >
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username"[(ngModel)]="email" [ngModelOptions]="{standalone: true}" >
    <small id="emailHelp" class="form-text text-muted">We'll never share your Username and password with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary"  (click)="onsubmit()">Submit</button>
</form>
</div>
<router-outlet></router-outlet>

