<!-- <div class="parent">
<form>
    <div class="col-md-4 container-fluid  one" id="st">
      <label for="exampleInputEmail1">Email address</label>
      <br>
      <input type="email"  id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" >
      <br>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <br>
    </div>
    <div class="container-fluid two" id="st">
      <label for="exampleInputPassword1">Password</label>
      <br>
      <input type="password" id="exampleInputPassword1" placeholder="Password"]>
    </div>
    <br>
    <button type="submit" class="btn btn-primary bt" routerLink="login" >Submit</button>
  </form>
</div>
<router-outlet></router-outlet> -->

<!-- ------------------------------------------------------------- -->


<!-- ---------------forms------------------
<div *ngIf="login && signup">
<div class="m new">
  <div class="card f">
<form>
  <div class="form-group de" >
    <label for="exampleInputEmail1"><b>Username</b></label>
    <input type="text" class="form-control h" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username"[(ngModel)]="email" [ngModelOptions]="{standalone: true}" >
    <small id="emailHelp" class="form-text text-muted">We'll never share your Username and password with anyone else.</small>
  </div>
  <div class="form-group d">
    <label for="exampleInputPassword1"><b>Password</b></label>
    <input type="password" class="form-control h" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-check d">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary d "  (click)="onsubmit()">Submit</button>
</form>
<button (click)="onsubmit1()" class="btn btn-link">Login</button>
<button (click)="onsub()"class="btn btn-link">SignUp</button>
</div>
</div>
</div>
<div *ngIf="!login">
  <form>
    <app-login1></app-login1>
  </form>
</div>
<div *ngIf="!signup">
  <form>
    <app-signup1></app-signup1>
  </form>
</div>
<router-outlet></router-outlet> -->
<div class="first">
  <div class="second">
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form [formGroup]="sign">
        <div class="form-group">
          <label><b>Enter Email</b></label>
          <input type="text" name="name" class="form-control" formControlName="email">
          <small id="h1"*ngIf="sign.controls['email'].errors && sign.controls['email'].errors['required'] && value"> Email is Required</small>
          <small id ="h1"*ngIf="(sign.controls['email'].errors && sign.controls['email'].errors['pattern']) "> invalid email</small>
        </div>
        <div class="form-group">
          <label><b>Enter Password</b></label>
          <input type="password" name="password" class="form-control" formControlName="password1">
          <!-- <small *ngIf="!sign.value.password1 && formsubmitattemp">password is Required</small> -->
          <small id ="h1"*ngIf ="(sign.controls['password1'].errors && sign.controls['password1'].errors['required']) && value "> password is Required</small>
        </div>
        <br>
        <div class="d-grid">
          <input type="submit" value="submit" class="btn btn-primary" (click)="onsubmit()">
          <small *ngIf="credsInvalid && sign.valid"><small class="k">Creds is not correct</small></small>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>
<small *ngFor="let p of post1">
  {{p.email}}
</small>



